@media screen and (max-width: 700px) {

    .laptopLinks {
        display: none !important;
    }

    .mobileLinks {
        display: block !important;
    }

    .myNavBarTwo {
        display: none !important;
    }

    .mainHeadingTwo {
        font-size: 67px;
    }

    .mainHeadingThree {
        font-size: 50px;
    }

    .burgerGridImageOneText {
        transform: translate(8%, 72%);
    }

    .burgerGridImageOne, .burgerImageColTwo {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .burgerGridImageOne h3 {
        font-size: 8px;
        letter-spacing: 0px;
        line-height: 0px;
    }

    .burgerGridImageOne h2 {
        font-size: 9px;
        line-height: 0px;
        letter-spacing: 0px;
    }

    .burgerGridImageTwo h3, .burgerGridImageThree h3 {
        font-size: 9px;
        line-height: 4px;
    }

    .burgerGridImageTwo h2, .burgerGridImageThree h2 {
        font-size: 10px;
        line-height: 0px;
    }

    .chooseAndEnjoyRow h2 {
        font-size: 30px;
    }

    .upcomingEventsHeading h2 {
        font-size: 26px;
    }

    .upcomingEventsInnerContainer {
        padding: 5% 7%;
    }

    .upcomingEventsPara p {
        width: 100%;
        text-align: justify;
        word-break: break-all;
    }

    .carousel-inner > .carousel-item {
        height: 188px !important;
    }

    .reservationText h3 {
        font-size: 16px;
        line-height: 0px;
    }

    .reservationText h1 {
        font-size: 28px;
    }

    .burgerImageContainer img {
        width: 30% !important;
    }

    .revervationTextContainer {
        padding-top: 25%;
    }

    .reservationContainer .row {
        margin-left: 0;
        margin-right: 0;
    }

    .plateImageContainer img { display: none; } 

    .reservationContainer .reservationForm .reservationButton {
        font-size: 15px;
        font-weight: 100;
        line-height: 25px;
        height: 100%;
    }

    .bottleImageContainer img {
        transform: translate(-67px, 73px);
    }

    .footerParaContainer p {
        width: 100% !important;
    }

    .footerContainer {
        margin-top: 12%;
    }

    .aboveFooterRow {
        padding: 10%;
    }

    .carousel-inner > .carousel-item {
        height: auto!important;
    }

    .footer .footerLogo { width: 100% !important; }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .reservationText h1 {
        font-size: 28px;
    }

    .carousel-inner > .carousel-item {
        height: auto!important;
    }

    .upcomingEventsPara p {
        width: 100%;
        font-size: 14px;
        line-height: 19px;
    }

    .upcomingEvents {
        padding-top: 0;
    }

    .upcomingEventsHeading h2 {
        font-size: 26px;
    }

    .mainHeadingOne {
        font-size: 15px;
    }
    
    .mainHeadingTwo {
        font-size: 55px;
    }
    
    .mainHeadingThree { 
        font-size: 43px;
    }

    .burgerGridImageOne h3 {
        font-size: 17px;
        letter-spacing: 0;
        margin-bottom: 0;
    }

    .burgerGridImageOne h2 {
        font-size: 21px;
        margin-bottom: 0;
        letter-spacing: 0;
    }

    .burgerGridImageTwo h2, .burgerGridImageTwo h3, .burgerGridImageThree h2, .burgerGridImageThree h3 {
        font-size: 17px;
        line-height: 10px;
    }

    .burgerGridImageOne {
        padding-right: 0; margin-right: 0;
    }

    .location h3, .email h3 {
        font-size: 15px;
        line-height: 24px;
    }
}